.popup {
  z-index: 1;
  position: fixed;
  width: 100%;
  min-height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);  
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear 300ms, opacity 0.5s;
}

@media screen and (max-width: 321px) {
    .popup {
        top: 44px;   
    }
  } 