.header__links {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  max-width: 686px;
}

@media screen and (max-width: 691px) {
  .header__links {
   border-bottom: 1px solid #DDD;
   padding-bottom: 20px;
  }
} 

@media screen and (max-width: 632px) {
  .header__links {
   display: flex;
   flex-direction: column;
  }
} 