.header__links {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  max-width: 686px;
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .header__links {
    padding-right: 0px;
    padding-bottom: 20px;
  }
} 

@media screen and (max-width: 409px) {
  .header__links {
   display: none;
  }
} 