.footer__container {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

}

@media screen and (max-width: 769px) {
  .footer__container {
    max-width: 690px;
  }
}

@media screen and (max-width: 577px) {
  .footer__container {
    max-width: 510px;
  }
}

@media screen and (max-width: 345px) {
  .footer__container {
    max-width: 289px;
    flex-direction: column;
    padding-bottom: 20px;
  }
}