.footer__link {
  width: 24px;
  height: 24px;
  text-decoration: none;
  margin-right: 30px;
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 436px) {
  .footer__link {
    margin-right: 15px;
  }
}

@media screen and (max-width: 321px) {
  .footer__link {
    margin-right: 30px;
  }
}