.description__title {
  color: #666;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px 0;
  padding: 0;
}

@media screen and (max-width: 577px) {
  .description__title {
    font-size: 24px;
  }
}