.info__container {
  max-width: 445px;
  margin-top: 70px;
}

@media screen and (max-width: 1058px) {
  .info__container {
    margin: 0 0 20px 0;
    max-width: 390px;
  }
}

@media screen and (max-width: 769px) {
  .info__container {
    margin: 0;
   
  }
}

@media screen and (max-width: 667px) {
  .info__container {
    margin: 0;
    max-width: 286px;
  }
}

@media screen and (max-width: 321px) {
  .info__container {
    width: 289px;
  }
}