.description__subtitle {
  color: #85859B;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 577px) {
  .description__subtitle {
    font-size: 16px;
  }
}