.header__box {
  max-width: 140px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin: 29px 0 29px 0;
}

@media screen and (max-width: 321px) {
  .header__box {
    margin: 11px 0 11px 0;
  }
} 
